body,
h1,
h2,
h3,
p,
ul,
li,
form,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button,
#sort-artist,
#filter-artist {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

button:hover,
#sort-artist:hover,
#filter-artist:hover {
  background-color: #444;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5em;
  padding: 0.6em;
}

.grid-item {
  background-color: #292626;
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
}

.grid-item h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.grid-item img {
  width: 100%;
  height: auto;
  border: 2px solid #fff;
  border-radius: 5px;
  max-height: 300px;
  max-width: 300px;
}

.grid-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.grid-info h2,
.grid-info h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.grid-info h3 {
  font-size: 1.5rem;
}

.grid-item .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btn-update,
.btn-delete {
  margin: 5px;
  padding: 10px 20px;
}

.grid-item button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

.grid-item button:hover {
  background-color: #444;
}

/* ARTISTS SECTION */

.artists-section {
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.artists-section h2 {
  font-size: 24px;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#artist-results {
  margin-top: 10px;
}

/* ALBUM SECTION */

.albums-section {
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.albums-section h2 {
  font-size: 24px;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#album-results {
  margin-top: 10px;
}

/* SONGS SECTION */
.songs-section {
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.songs-section h2 {
  font-size: 24px;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#songs-results {
  margin-top: 10px;
}
